<%- include('./partials/header') %>


<section class="text-center d-flex justify-content-center align-items-center py-5" style="height: 100vh; width: 100%;">
    <div class="card">
        <img src="./image/avatar.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SAQR SUBAIE</h5>
            <p class="card-text">I'm a web developer with 1 years of experience</p>
            <div class="">
                <b class="icon-1"><i class="fa-brands fa-brands5 fa-github"></i></b>
                <b class="icon-1 icon-2"><i class="fa-brands fa-brands5 fa-html5"></i></b>
                <b class="icon-1 icon-3"><i class="fa-brands fa-brands5 fa-css3-alt"></i></b>
                <b class="icon-1 icon-4"><i class="fa-brands fa-brands5 fa-bootstrap"></i></b>
            </div>
        </div>
        <div class="card-body">
            <a href="/gitHub" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
            <a href="/twitter" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="mailto:saqr503f@gmail.com" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-solid fa-envelope"></i> Email</a>
        </div>
    </div>
</section>



<%- include('./partials/footer') %>