@media (max-width: 505px) {
  
    .wrapper-2 {
        width: 500px;
    }
  
    .wrapper-2 .card-saqr-55 {
        width: 100%;
    }
    .main {
        min-height: 0vh;
    }
  
  }












::-webkit-scrollbar {
    width: 5px;
    color: #ffffff;
}

::-webkit-scrollbar-track {
    background: #110e0f
}

::-webkit-scrollbar-thumb {
    background: #6c63ff;
	border-radius: 100px;
	transition: all 1s ease-in-out;

}

::-webkit-scrollbar-thumb:hover {
    background: #4a4599
}