@import 'https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap';@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';@import 'https://fonts.googleapis.com/css2?family=Ubuntu&display=swap';@import 'https://fonts.googleapis.com/css2?family=Varela+Round&display=swap';@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap';@import 'https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/main.gif") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



body {
    background-color: #171b1f;
    position: relative!important;
    font-family: roboto slab,serif
}

.bg-dark {
  --bs-bg-opacity: 0.55;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}







#about {
  animation: saqr 5s linear infinite;
}

.saqr-img {
	border-radius: 100px;
}

@keyframes saqr {
  0%, 100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-30px);
  }
}

.test-saqr-color{
  color: #f8f9fa!important;
}

.bg-saqr-color{
  background-color: #212529!important;
}

hr {
  margin: 1px auto;
  text-align: center;
  width: 80%;
  color: #6c63ff;
  background: #6c63ff;
  border: 2px solid #6c63ff;
  box-shadow: 2px 10px 50px #6c63ff;
}

.saqr-footer {
  font-size: 25px; 
  color: #0dcaf0!important; 
  font-family: 'Bebas Neue', cursive!important;
}
.saqr-footer-1 {
  font-size: 25px;
}
/*  */


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0d6efd;
}






.saqr-1 {
  font-family: 'Bebas Neue', cursive!important;
}

.saqr-2 {
  font-family: 'Varela Round', sans-serif!important;
    font-weight: 100;
}

#saqr-3 {
    font-family: 'Bebas Neue', cursive!important;
    font-size: 35px;
}

#saqr-4 {
    font-size: 1em;
}

#saqr-5 {
  color: #0dcaf0;
  font-family: 'Bebas Neue', cursive!important;
  font-size: 25px;
}

#saqr-6 {
    font-family: 'Bebas Neue', cursive!important; font-size: 35px
}
#SAQR-SUBAIE {
  font-family: 'Bebas Neue', cursive!important;
  font-size: 25px;
}

.bg-saqr {
  background-color: #15181b;
}

.bg-cards {
  background-color: #1b2126;
}


#saqr-7 {
  transition: transform .2s; 
  
}
#saqr-7:hover {
  transform: scale(1.1);
}

h4.card-title,.card-header.bg-cards {
  font-family: 'Stick No Bills', sans-serif;
}

.bg-cards {
  background-color: #1b2126;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #6c63ff;
  transition: width .6s ease;
}

.saqr-8 {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

/*  */
#saqr-9 {
  font-family: 'Bebas Neue', cursive; font-size: 35px
}

#saqr-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

b#saqr-11 {
  color: #0dc7ed;
  font-size: 25px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  color: white;
}

.developers-1 {
  width: 50%;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: #6c63ff;
  border-radius: 0px 0px 10px 10px;
}
.developers-2 {
  width: 50%;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: gold;
  border-radius: 0px 0px 10px 10px;
}
.developers-3 {
  width: 50%;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: #17b667;
  border-radius: 0px 0px 10px 10px;
}
.card-3 {
  background-color: rgba(255, 255, 255, 0.05);
}


.verify {
  color: #17b667;
}
.verify-1 {
  color: gold;
}

.instagram {
  background: linear-gradient(50deg,#755bea,#ff72c0);
  transition: transform .5s; 
}
.instagram:hover {
  transform: scale(1.5);
}

.snapchat {
  background: #fffc00;
  transition: transform .5s; 
}
.snapchat:hover {
  transform: scale(1.5);
}

.twitter {
  background: #1d9bf0;
  transition: transform .5s; 
}
.twitter:hover {
  transform: scale(1.5);
}
.github {
  background: #000000;
  transition: transform .5s; 
}
.github:hover {
  transform: scale(1.5);
}



.nav-link:hover {
  text-decoration: 5px underline #6c63ff;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  line-height: 2.6;
  color: #6c63ff;
}

.code-saqr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-2 {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper-2 .card-saqr-55 {
  width: calc(33% - 20px);
  background: rgba(255, 255, 255, 0.05);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
}

.wrapper-2 .card-saqr-55 .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card-saqr-55 .circle .box-saqr-55,
.card-saqr-55 .circle .box-saqr-55 span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card-saqr-55 .circle .box-saqr-55 {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(left, #ffffffcb, #ffffff52);
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 50%;
  transition: all .5s;
}
.card-saqr-55 .circle:hover .box-saqr-55 {
  transform: translate(-50%, -50%) scale(0.91);
}
.card-saqr-55 .circle .box-saqr-55 span,
.wrapper-2 .card-saqr-55 .text-saqr-55 {
  
  background: -webkit-linear-gradient(left, #ffffff, #ffffff83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-saqr-55 .circle .box-saqr-55 span {
  font-size: 38px;
  font-weight: 600;
  font-family: sans-serif;
  transform: translate(-45%, -50%);
  transition: all .5s;
}

.card-saqr-55 .circle:hover .box-saqr-55 span {
  transform: translate(-45%, -50%) scale(1.09);
}

.card-saqr-55 .text-saqr-55 {
  font-size: 20px;
  font-weight: 600;

}
/* loading */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  z-index: 99999999;
  display: flex;
  align-items: center;
}

.loading /*.load1 */ {
  margin: 1px;
  width: 7px;
  height: 70px;
  background: white;
  display: inline-block;
  transform-origin: bottom center;
  animation: loading 1.5s ease-in-out infinite;
}
.load1 {
  animation-delay: 0.1s;
}
.load2 {
  animation-delay: 0.2s;
}
.load3 {
  animation-delay: 0.3s;
}
.load4 {
  animation-delay: 0.4s;
}
.load5 {
  animation-delay: 0.5s;
}
.load6 {
  animation-delay: 0.6s;
}
.load7 {
  animation-delay: 0.7s;
}
.load8 {
  animation-delay: 0.8s;
}
@keyframes loading {
  0% {
      transform: scaleY(0.1);
      background: #fff;
  }
  50% {
      transform: scaleY(1);
      background: #24c6dc;
  }
  100% {
      transform: transparent;
  }
}
/* animate */
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.box .div {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 6px solid rgba(255, 255, 255, 1);
}

.box .div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box .div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box .div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box .div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box .div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
/*  */
.box .div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box .div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box .div:nth-child(8) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box .div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box .div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box .div:nth-child(11) {
  top: 50%;
  left: 50%;
  animation: animate 8s linear infinite;
}
.box .div:nth-child(12) {
  top: 80%;
  left: 50%;
  animation: animate 10s linear infinite;
}
.box .div:nth-child(13) {
  top: 30%;
  left: 40%;
  animation: animate 10s linear infinite;
}
.box .div:nth-child(14) {
  top: 99%;
  left: 80%;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}

/*  */


button#btn-jamel {
  font-family: 'Noto Kufi Arabic';
  font-weight: bold;
  margin-left: 25px;
}

ul.dropdown-menu.show {
  background-color: #212529;
  box-shadow: 0px 0px 9px -5px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 0px 0px 9px -5px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 0px 9px -5px rgba(0,0,0,0.75);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  /* text-align: inherit; */
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: all .5s;
}

.dropdown-item:hover {
  transform: scale(1.1);
  background: none;
  color: #ffffff;
}