<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error:404 - SAQR SUBAIE</title>
  <link rel="icon" href="static/images/programmer.svg">
<!--  -->
  <meta name="theme-color" content="#6c63ff">
  <meta name="og:title" content="SAQR SUBAIE">
  <meta name="description" content="SAQR SUBAIE Website.">
  <meta name="og:url" content="#">
  <meta name="og:description" content="Saqr Al , Subai'i  محب للتقنية والعلوم ❤ Tech">
  <meta name="twitter:card" content="summary">
  <meta name="og:image" content="https://cdn.discordapp.com/attachments/845033464357191691/944325089845981194/1645215006943.png">
<!--  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/min.css" rel="stylesheet">
  <link href="static/css/mian.css" rel="stylesheet">
  <link href="static/css/media.css" rel="stylesheet">
  <link href="static/css/test.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://unpkg.com/discord-fetcher@1.0.3/index.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
</head>
<body>
<!-- 
  onload="myFunction()"
  <div id="loading" class="text-center justify-content-center align-items-center">
  <div class="loading load1"></div>
  <div class="loading load2"></div>
  <div class="loading load3"></div>
  <div class="loading load4"></div>
  <div class="loading load5"></div>
  <div class="loading load6"></div>
  <div class="loading load7"></div>
  <div class="loading load8"></div>
</div> -->
<div class="wrapper">
  <div class="box">
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
  </div>
</div>
<!-- ----------------- -->

<header class="manu">
  <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
      <!-- logo -->
      <a href="/" class="navbar-brand" id="SAQR-SUBAIE"><img src="static/images/programmer_irh4.svg" alt="SAQR SUBAIE" width="50px" height="50px"> SAQR SUBAIE</a>
      <!-- navbar-toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- manu -->
      <div class="collapse navbar-collapse text-center" id="mainmenu">
        <ul class="navbar-nav ms-auto nav-pillsnav navbar-nav ml-auto w-100 justify-content-end nav-pills">
          <li class="nav-item"><a href="#about-me" class="nav-link">About Me</a></li>
          <li class="nav-item"><a href="#my-services" class="nav-link">My services</a></li>
          <li class="nav-item"><a href="#skills" class="nav-link">My Skills</a></li>
          <li class="nav-item"><a href="#My-Projects" class="nav-link">My Projects</a></li>
          <li class="nav-item"><a href="#Friend" class="nav-link">My Friend</a></li>
          <div class="btn-group">
            <button type="button" id="btn-jamel" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           <span class="flag-icon flag-icon-us"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href="/ar" class="dropdown-item">العربية <span class="flag-icon flag-icon-sa float-end"></span></a></li>
            <li><a href="/" class="dropdown-item">English <span class="flag-icon flag-icon-us float-end"></span></a></li>
          </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>
</header><br>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="py-5">
    <div class="container">
        <div class="text-center h1">
            <h1 class="text-white" style="font-family: sans-serif;">Failed to load page: Error 404</h1>
        </div>
    </div>
</section>


































<br>
<footer class="py-4 bg-dark text-white position-relative">
  <div class="container text-center align-items-center justify-content-center">
    <div class="d-grid d-flex text-center align-items-center justify-content-center">
      <button onclick="openinstagram()" class="btn btn-lg instagram m-1" type="button"><i class="fa-brands fa-instagram"></i></button>
      <button onclick="opensnapchat()" class="btn btn-lg snapchat m-1" type="button"><img src="https://th.bing.com/th/id/R.004a10590f2e8a2807196715c97f7921?rik=aCS2fDgWex%2bNTg&pid=ImgRaw&r=0" width="35px" height="20px"></button>
      <button onclick="opentwitter()" class="btn btn-lg twitter m-1" type="button"><i class="fa-brands fa-twitter"></i></button>
      <button onclick="opengithub()" class="btn btn-lg github m-1" type="button"><i class="fa-brands fa-github"></i></button>
    </div>
    <p class="lead m-1">
      Copyright &copy; <b id="year">2022</b> <span class="saqr-footer">SAQR SUBAIE</span> <b class="saqr-footer-1">|</b> <span class="saqr-footer">S A Q R </span>
    </p>
      <a href="#" class="position-absolute bottom-0 end-0 mb-1 mx-5">
        <i class="bi bi-arrow-up-circle h2"></i>
      </a>
  </div>
</footer>
<!-- ----------------- -->
<!-- min js -->
<script src="static/js/min.js"></script>
<script src="static/js/mian.js"></script>
<!-- ------------------------ -->
</body>
</html>