<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SAQR SUBAIE</title>
  <link rel="icon" href="static/images/programmer.svg">
<!--  -->
  <meta name="theme-color" content="#6c63ff">
  <meta name="og:title" content="SAQR SUBAIE">
  <meta name="description" content="SAQR SUBAIE Website.">
  <meta name="og:url" content="#">
  <meta name="og:description" content="Saqr Al , Subai'i  محب للتقنية والعلوم ❤ Tech">
  <meta name="twitter:card" content="summary">
  <meta name="og:image" content="https://cdn.discordapp.com/attachments/845033464357191691/944325089845981194/1645215006943.png">
<!--  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/min.css" rel="stylesheet">
  <link href="static/css/mian.css" rel="stylesheet">
  <link href="static/css/media.css" rel="stylesheet">
  <link href="static/css/test.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://unpkg.com/discord-fetcher@1.0.3/index.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
</head>
<body>
<!-- 
  onload="myFunction()"
  <div id="loading" class="text-center justify-content-center align-items-center">
  <div class="loading load1"></div>
  <div class="loading load2"></div>
  <div class="loading load3"></div>
  <div class="loading load4"></div>
  <div class="loading load5"></div>
  <div class="loading load6"></div>
  <div class="loading load7"></div>
  <div class="loading load8"></div>
</div> -->
<div class="wrapper">
  <div class="box">
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
    <div class="div"></div>
  </div>
</div>
<!-- ----------------- -->

<header class="manu">
  <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
      <!-- logo -->
      <a href="/" class="navbar-brand" id="SAQR-SUBAIE"><img src="static/images/programmer_irh4.svg" alt="SAQR SUBAIE" width="50px" height="50px"> SAQR SUBAIE</a>
      <!-- navbar-toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- manu -->
      <div class="collapse navbar-collapse text-center" id="mainmenu">
        <ul class="navbar-nav ms-auto nav-pillsnav navbar-nav ml-auto w-100 justify-content-end nav-pills">
          <li class="nav-item"><a href="#about-me" class="nav-link">About Me</a></li>
          <li class="nav-item"><a href="#my-services" class="nav-link">My services</a></li>
          <li class="nav-item"><a href="#skills" class="nav-link">My Skills</a></li>
          <li class="nav-item"><a href="#My-Projects" class="nav-link">My Projects</a></li>
          <li class="nav-item"><a href="#Friend" class="nav-link">My Friend</a></li>
          <div class="btn-group">
            <button type="button" id="btn-jamel" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           <span class="flag-icon flag-icon-us"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href="/ar" class="dropdown-item">العربية <span class="flag-icon flag-icon-sa float-end"></span></a></li>
            <li><a href="/" class="dropdown-item">English <span class="flag-icon flag-icon-us float-end"></span></a></li>
          </ul>
            </div>
        </ul>
      </div>
    </div>
  </div>
</header><br>

<!-- SAQR AL-SUBAIE -->
<section id="about-me" class="bg-dark text-light text-center text-sm-start py-5 main">
  <div class="container">
    <div class="d-sm-flex">
      <div class="py-5">
        <h1 class="saqr-1">Welcome |<br> I&#39;m <span style="  text-decoration: underline;" class="text-info">SAQR AL-SUBAIE</span>
          From <b>KSA</b></h1>
        <p class="saqr-2">
          A backend web developer I have been working in the field of backend development since 2021. </p>
          <a href="#My-Projects"><button  class="btn btn-info btn-lg">Projects</button></a>
          <button onclick="openGithub()" class="btn btn-info btn-lg">Github</button>
      </div>
      <img id="about" class="d-none d-sm-block img-fluid w-50" src="static/images/programmer_irh4.svg" alt="SAQR SUBAIE">
    </div>
  </div>
</section><br>
<!-- I can do -->
<section class="py-5" id="my-services">
  <h4 class="text-center text-white justify-content-center align-items-center" id="saqr-3">I can do <br></h4>
  <hr class="bg-white"><br>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm">
        <div class="card bg-dark text-light">
          <div class="card-body text-center h1 mt-3 d-sm-block">
            <i class="fas fa-terminal fa-1x" id="saqr-4"></i>
            <h6 id="saqr-5" class="card-title mt-2">Backend website development</h6>
            <p class="card-text">I can program the interface for the site using:
              <b style="color: #02aacd;">Html</b>, <b style="color: #02aacd;">Css</b>, <b style="color: #02aacd;">Bootstrap</b>..
            </p>
            <button onclick="openOrder()" class="btn btn-secondary btn-lg text-white">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- My Skills -->
<section id="skills" dir="ltr" class="bg-dark text-light text-center text-sm-start py-5">
  <div class="container text-white">
    <h2 id="saqr-6" class="text-center text-white">My Skills</h2>
    <hr class="bg-white"><br>
    <div class="code-saqr">
      <div class="wrapper-2">
        <div class="card-saqr-55" id="saqr-7">
            <div class="circle">
                <div class="bar-saqr-55"></div>
                <div class="box-saqr-55"><span></span></div>
            </div>
            <div class="text-saqr-55">HTML 5</div>
        </div>
        <div class="card-saqr-55 js" id="saqr-7">
            <div class="circle">
                <div class="bar-saqr-55"></div>
                <div class="box-saqr-55"><span></span></div>
            </div>
            <div class="text-saqr-55">CSS 5</div>
        </div>
        <div class="card-saqr-55 react" id="saqr-7">
            <div class="circle">
                <div class="bar-saqr-55"></div>
                <div class="box-saqr-55"><span></span></div>
            </div>
            <div class="text-saqr-55">BOOTSTRAP 5</div>
        </div>
    </div>
    </div>
  </div>
</section><br>

<!-- my bot -->
<section id="My-Projects" class="bg-dark text-light text-center text-sm-start py-5">
  <div class="container">
    <div class="text-center">
      <h2 id="saqr-6" class="text-center text-white">My Projects</h2>
      <hr class="bg-white">
      <br>
      <div class="row text-center row-cols-1 row-cols-md-3 g-5 info-maker">
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3">
            <div class="developers-2"></div>
            <div class="d-flex text-start p-3">
              <i class="fas fa-robot"> fdrbot</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img lds-circle" src id="avatar-8">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-8"></strong></h6>
              <p class="card-title mb-3"> Bot, remember me, the first Arabic and Islamic bot for the remembrances and the Noble Qur’an</p>
              <button onclick="openFdrBot$invite()" type="button" class="btn btn-warning">Invite</button>
              <button onclick="openFdrBot()" type="button" class="btn btn-outline-warning">website</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 Friend-5 card-3">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-robot"> malebot</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src id="avatar-9">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-9"></strong></h6>
              <p class="card-title mb-3"> An Islamic bot that aims to spread the remembrance of God, teach him and teach people through new means</p>
              <button onclick="open4krbot$invite()" type="button" class="btn btn-primary">Invite</button>
              <button onclick="open4krbot()" type="button" class="btn btn-outline-primary">website</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3">
            <div class="developers-3"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-server"> Aros</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src="static/images/Aros.gif">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3">Aros</strong></h6>
              <p class="card-title mb-3"> A store that specializes in programming and implementing the desires of customers</p>
              <button onclick="openAros()" type="button" class="btn btn-success">Join</button>
              <button onclick="openAros$invite()" type="button" class="btn btn-outline-success">website</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- my Friend -->
<section id="Friend" class="py-5">
  <div class="container">
    <div class="text-center">
      <h2 id="saqr-6" class="text-center text-white">My Friend</h2>
      <hr class="bg-white">
      <br>
      <div class="row text-center row-cols-1 row-cols-md-3 g-5 info-maker">
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="verify-1 fas fa-crown"> saqr</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img lds-circle" src id="avatar-1">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-1"></strong></h6>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 Friend-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-user-group"> Friend</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src id="avatar-2">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-2"></strong></h6>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-user-group"> Friend</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src id="avatar-3">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-3"></strong></h6>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-user-group"> Friend</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" id="avatar-4">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-4"></strong></h6>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-user-group"> Friend</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src id="avatar-5">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-5"></strong></h6>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3" id="saqr-7">
            <div class="developers-1"></div>
            <div class="d-flex text-start p-3">
              <i class="fa-solid fa-user-group"> Friend</i>
            </div>
            <div class="h1 mt-3 icon-1">
              <img class="img-fluid w-25 saqr-img" src id="avatar-6">
            </div>
            <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-6"></strong></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
<br>
<footer class="py-4 bg-dark text-white position-relative">
  <div class="container text-center align-items-center justify-content-center">
    <div class="d-grid d-flex text-center align-items-center justify-content-center">
      <button onclick="openinstagram()" class="btn btn-lg instagram m-1" type="button"><i class="fa-brands fa-instagram"></i></button>
      <button onclick="opensnapchat()" class="btn btn-lg snapchat m-1" type="button"><img src="https://th.bing.com/th/id/R.004a10590f2e8a2807196715c97f7921?rik=aCS2fDgWex%2bNTg&pid=ImgRaw&r=0" width="35px" height="20px"></button>
      <button onclick="opentwitter()" class="btn btn-lg twitter m-1" type="button"><i class="fa-brands fa-twitter"></i></button>
      <button onclick="opengithub()" class="btn btn-lg github m-1" type="button"><i class="fa-brands fa-github"></i></button>
    </div>
    <p class="lead m-1">
      Copyright &copy; <b id="year">2022</b> <span class="saqr-footer">SAQR SUBAIE</span> <b class="saqr-footer-1">|</b> <span class="saqr-footer">S A Q R </span>
    </p>
      <a href="#" class="position-absolute bottom-0 end-0 mb-1 mx-5">
        <i class="bi bi-arrow-up-circle h2"></i>
      </a>
  </div>
</footer>
<!-- ----------------- -->
<!-- min js -->
<script src="static/js/min.js"></script>
<script src="static/js/mian.js"></script>
<!-- ------------------------ -->
</body>
</html>